body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--main-font-family);
    background: var(--main-bg-color);
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
}
