:root {
    --card-border-width: 1px;
    --card-background-default: #FFFFFF;
    --card-background-danger: rgba(255, 0, 0, 0.05);
    --card-background-info: rgba(0, 0, 255, 0.03);
    --card-background-warn: rgba(255, 255, 0, 0.05);
}

.Card {
    display: flex;
    flex-direction: column;
    border: var(--card-border-width) solid var(--border-color);
    border-radius: 1px;
    margin: 5px;
    width: 30rem;
    position: relative; /* to contain the .Card--background */
}

.Card--background {
    outline: var(--card-border-width) solid var(--card-background-default); /* so color gets behind borders as well */
    background-color: var(--card-background-default);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color 500ms, outline-color 500ms;
}
.Card--background--danger {
    outline-color: var(--card-background-danger);
    background-color: var(--card-background-danger);
}
.Card--background--info {
    outline-color: var(--card-background-info);
    background-color: var(--card-background-info);
}
.Card--background--warn {
    outline-color: var(--card-background-warn);
    background-color: var(--card-background-warn);
}

.Card--row {
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.Card--row--title { /* always used in conunction with .Card--row so it is className="Card--row Card--row--title" */
    align-items: center;
    padding-left: 10px; /* reduce horizontal padding from .Card--row */
    padding-right: 10px;
}

.Card--row--buttons {
    height: 1.5em;
    font-size: 1.1em;
}

.Card--divider-title {
    background-color: var(--border-color);
    height: 1px;
    border: 0;
    margin: 5px 14px; /* .Card--row is horizontally padded at 15px and .Card--row--title is horizontally padded at 10px, I wanted something in between so went with 14px */
    align-self: stretch; /* width 100% */
}

.Card--label {
    font-weight: 500;
    width: 10em;
    flex-shrink: 0;
}

.Card--link {
    display: flex;
    font-size: 0.9em;
    text-decoration: none;
}

.Card--link--button {
    font-size: 1em;
}

.Card--link--button-danger {
    color: #C33D3D;
}

.Card--link:hover {
    text-decoration: underline;
}

.Card--link-image {
    width: 16px;
    height: 16px;
}

.Card--link-label {
    margin: 0 7px; /* for spacing from logo */
}

.Card--title {
    font-weight: 500;
    margin: 0 15px;
}

.Card--logo {
    width: 40px;
    height: 40px;
}

.Card--header {
    background-color: var(--faded-bg-color);
    font-weight: 300;
    font-size: 0.9em;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.Card--footer {
    background-color: var(--faded-bg-color);
    font-weight: 300;
    font-size: 0.9em;
    padding: 10px;
    border-top: 1px solid var(--border-color);
    color: #777777;
    text-align: center;
}

.Card--text {
    font-size: 0.9em;
}

.Card--status-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Card--status--bad {
    font-weight: 500;
    color: #C33D3D;
}

.Card--link--retry {
    font-size: 1em;
    font-weight: 500;
}

.Card--row--spacer {
    flex: 1
}

.Card--link--normal {
    font-size: 1em;
    display: inline;
}

.Thumb--green {
    font-weight: bold;
    text-transform: uppercase;
    color: #27AE60
}

.Thumb--red {
    font-weight: bold;
    text-transform: uppercase;
    color: #C33D3D;
}
