.ReplyForm {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;
}

.ReplyForm--field {
    flex: 1;
    height: 6.6em;
}

.ReplyForm--button {
    width: 50px;
}

.ReplyForm--row {
    display: flex;
}
