.Page {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.Page--intro {
    margin: 18px 0;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page--intro--icon {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}
