.foxified-app {
	z-index: 999999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
}
.foxified-modal {
	display: flex;
	justify-content: center;
	align-items: start;
	background-color: #fff;
	border: 1px solid #000;
	min-height: 200px;
	width: 400px;
	position: relative;
	padding: 5px;
	flex-direction: column;
}
.foxified-header {
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 42px;
	height: 48px;
	background: transparent url("chrome://chrome-store-foxified-accessible/content/images/icon48.png") no-repeat scroll 0% 0%;
}
.foxified-page {
	flex: 1 0 auto;
}
.foxified-close {
	position: absolute;
	z-index: 1;
	top: -0.2em;
	right: 3px;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
}
.foxified-close:hover {
	color: red;
}
.foxified-ext-actions {
	padding-right: 55px;
}
.foxified-ext-status {
	flex: 1 0 auto;
}
.foxified-page {
	display: flex;
	flex-direction: column;
}
