.Field {
    display: flex;
    flex-direction: column;
}
.Field--error {
    display: flex;
    font-weight: 500;
    color: #C33D3D;
    font-size: 0.9em;
}
.Field--label-error {
    color: #C33D3D;
}

.Field--input-text {
    flex: 1;
}

.Field--desc {
    font-size: 0.7em;
}

.Field--label {
    font-weight: 500;
    width: 10em;
}

.Field--row {
    display: flex;
    margin: 3px 0;
}
