.Header {
    background-color: #F7F7F7;
    padding: 20px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto Slab;
}

.Header--title {

}

.Header--logo {
    animation: Header--logo-scale infinite 3s linear;
    height: 80px;
}

@keyframes Header--logo-scale {
    0%     { transform: scale(1.0) }
    25%    { transform: scale(1.1) }
    50%    { transform: scale(1.0) }
    75%    { transform: scale(0.9) }
    100%   { transform: scale(1.0) }
}